<% ActionView::Helpers::UrlHelper::link_to "Test", { :action => 'update', :id => 1 }, :confirm => "Are you sure?" do %>
<!--                                                             <caret> -->
<% end %>
